{
    "semi": false,
    "singleQuote": true,
    "trailingComma": "es5",
    "tabWidth": 2,
    "arrowParens": "avoid",
    "printWidth": 100,
    "endOfLine": "lf",
    "$schema": "https://json.schemastore.org/prettierrc",
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindConfig": "./tailwind.config.js"
}
