@import 'tailwindcss';

@theme {
  --color-*: initial;
  --color-primary-400: oklch(0.75 0.1105 201.04);
  --color-primary-100: oklch(0.95 0.0313 199.09);
  --color-secondary-300: oklch(0.81 0.1161 2.95);
  --color-positive-700: oklch(0.52 0.2008 28.54);
  --color-positive-500: oklch(0.65 0.2223 26.75);
  --color-negative-700: oklch(0.59 0.1881 255.01);
  --color-negative-500: oklch(0.72 0.1576 241.38);
  --color-surface-50: oklch(0.97 0 0);
  --color-surface-300: oklch(0.76 0 0);
  --color-surface-600: oklch(0.48 0 0);
  --color-surface-950: oklch(0.21 0 0);
  --color-white: oklch(1 0 0);
  --font-gmarket-light: 'GmarketSansLight';
  --font-gmarket-medium: 'GmarketSansMedium';
  --font-gmarket-bold: 'GmarketSansBold';
}

@layer base {
  html {
    font-size: 16px;
  }

  * {
    font-size: var(--text-sm); /* 14px */
    color: var(--color-surface-950);
    font-family: 'GmarketSansMedium';
  }
}

@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
